<div class="clients-container">
	<div class="header-container">
		<div class="title skeleton_fade"></div>
		<div class="notification skeleton_fade"></div>
	</div>
	<div class="uploader-container">
		<div class="button-container skeleton_fade">

		</div>
	</div>
	<div class="cards-container">
		<div class="chart-card skeleton_fade">

		</div>
		<div class="cards">
			<div class="card-item skeleton_fade">
			</div>
			<div class="card-item skeleton_fade">
			</div>
			<div class="card-item skeleton_fade">
			</div>
		</div>
	</div>
	<div class="table-container skeleton_fade">

	</div>
</div>
