<nav class="navbar" [class.scrolled]="isScrolled">

  <div class="nav-container">

    <!-- LOGO -->
    <div class="logo" (click)="scrollTo('testimonios')">
      <img src="assets/logos/logotipo.png" class="logo-image" alt="Logo de ConcreaTech" width="165" height="71">
    </div>

    <!-- LINKS DESKTOP -->
    <ul class="nav-links desktop-only" style="  margin-bottom: 0rem !important;">

      <li
        *ngFor="let item of navItems"
        [class.active]="activeSection === item.id"
        (click)="scrollTo(item.id)"
      >
        {{ item.label | translate }}
      </li>

    </ul>

    <!-- ACTIONS -->
    <div class="nav-actions">

      

      <a
        href="https://cos.concreatech.com.mx/login"
        class="login-button desktop-only"
      >
        {{ 'NAV.LOGIN' | translate }}
      </a>

      <a
        href="https://calendly.com/concreatech-mx/30min"
        target="_blank"
        class="cta-button desktop-only"
      >
        {{ 'NAV.DEMO' | translate }}
      </a>

      <app-language-selector class="desktop-only"></app-language-selector>

      <!-- MOBILE BUTTON -->
      <div
        class="menu-toggle mobile-only"
        [class.open]="menuOpen"
        (click)="toggleMenu()"
      >
        <span></span>
        <span></span>
        <span></span>
      </div>

    </div>

  </div>

  <!-- MOBILE MENU -->
  <div class="mobile-menu" [class.open]="menuOpen">

    <nav class="mobile-links">

      <a
        *ngFor="let item of navItems"
        (click)="scrollTo(item.id)"
        [class.active]="activeSection === item.id"
      >
        {{ item.label | translate }}
      </a>

    </nav>

    <div class="mobile-divider"></div>

    <div class="mobile-lang">
      <button (click)="changeLang('es')">🇲🇽 Español</button>
      <button (click)="changeLang('en')">🇺🇸 English</button>
    </div>

  </div>

</nav>
