<div class="language-selector">

  <button class="language-btn" (click)="toggleDropdown()">
    <span class="flag">{{ currentLang?.flag }}</span>
    <span class="lang-text">{{ currentLang?.code | uppercase }}</span>

    <svg viewBox="0 0 24 24">
      <path
        d="M6 9L12 15L18 9"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>

  <div class="language-dropdown" *ngIf="isOpen">

    <button
      *ngFor="let lang of languages"
      class="language-option"
      [class.active]="lang.code === langService.currentLang"
      (click)="changeLang(lang.code)"
    >
      <span class="flag">{{ lang.flag }}</span>
      <span>{{ lang.label }}</span>
    </button>

  </div>

</div>