.main-cont {
    display: grid;
    gap: var(--dashboard-gap);
    padding-top:1.125rem;
    padding-right: 3.125rem;
	.block {
		display: flex;
		flex-direction: column;
		gap: var(--dashboard-gap);
		.title {
			height: 2.5rem;
			width: 22.8125rem;
		}
		.content {
			min-height: 55.3125rem;
		}
	}
}
