<section class="features" id="caracteristicas">
	<div class="section-header">
		<div class="section-tag">
			{{ 'FEATURES.TAG' | translate }}
		</div>

		<h2 class="section-title">
			{{ 'FEATURES.TITLE' | translate }}
		</h2>

		<p class="section-subtitle">
			{{ 'FEATURES.SUBTITLE' | translate }}
		</p>
	</div>

	<div class="features-grid">
		<div class="feature-card" *ngFor="let feature of features">
			<div class="feature-icon">
				<app-icon
					[name]="feature.icon"
					[color]="'#000000'"
					size="4xl"
					strokeWidth="semibold"
				>
				</app-icon>
			</div>

			<h3 class="feature-title" [innerHTML]="feature.title | translate"></h3>

			<p class="feature-description">
				{{ feature.description | translate }}
			</p>
		</div>
	</div>
</section>
