.locker-detail-container{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 1,364px;
	padding: 16px var(--spacing-7) 16px var(--spacing-7);
	gap: var(--spacing-5);
	opacity: 0px;
	.cards-header-container{
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 112px;
		gap: var(--spacing-5);
		.card-item{
			width: 100%;
			height: 100%;
			padding: var(--spacing-4) var(--spacing-5) var(--spacing-4) var(--spacing-5);
			gap: var(--spacing-4);
			border-radius: var(--radius-md);
			opacity: 0px;
		}
	}
	.header-container{
		display: flex;
		width: 100%;
		height: 32px;
		justify-content: space-between;
		.breadcrumb{
			width: 302px;
			height: 100%;
			gap: var(--spacing-2);
			opacity: 0px;
		}
		.notification{
			width: 32px;
			height: 100%;
		}
	}
	.content-switcher-container{
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 36px;
		gap:8px;
		.content-switcher{
			width: 120px;
			height: 36px;
			gap: var(--spacing-1);
			border-radius: var(--radius-md);
			opacity: 0px;

		}
	}
	.cards-container{
		display: flex;
		width: 100%;
		height: 441px;
		gap: 24px;
		.big-card{
			width:369px;
			height: 441px;
			padding: var(--spacing-6);
			border-radius: var(--radius-lg);
		}
		.cards{
			display: flex;
			flex-direction: column;
			width: 238px;
			height: 441px;
			gap: 24px;
			.card-item{
				width: 100%;
				height: 100%;
				padding: var(--spacing-4) var(--spacing-5) var(--spacing-4) var(--spacing-5);
				gap: var(--spacing-4);
				border-radius: var(--radius-md);
				opacity: 0px;

			}
		}
		.map-card{
			width: 657px;
			height: 100%;
			gap: var(--spacing-3);
			border-radius: var(--radius-lg);
		}
	}
	.table-container{
		width: 100%;
		height: 616px;
		padding: var(--spacing-5);
		gap: 16px;
		border-radius: var(--radius-lg);
	}

}

@media screen and (min-width:720px) and (max-width:1280px) {
	.locker-detail-container{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 1,364px;
		padding: 16px var(--spacing-7) 16px var(--spacing-7);
		gap: var(--spacing-5);
		opacity: 0px;
		.cards-header-container{
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 500px;
			gap: var(--spacing-5);
			.card-item{
				width: 100%;
				height: 100%;
				padding: var(--spacing-4) var(--spacing-5) var(--spacing-4) var(--spacing-5);
				gap: var(--spacing-4);
				border-radius: var(--radius-md);
				opacity: 0px;
			}
		}
		.header-container{
			display: flex;
			width: 100%;
			height: 32px;
			justify-content: space-between;
			.breadcrumb{
				width: 302px;
				height: 100%;
				gap: var(--spacing-2);
				opacity: 0px;
			}
			.notification{
				width: 32px;
				height: 100%;
			}
		}
		.content-switcher-container{
			display: flex;
			flex-direction: row;
			width: 100%;
			height: 36px;
			gap:8px;
			.content-switcher{
				width: 120px;
				height: 36px;
				gap: var(--spacing-1);
				border-radius: var(--radius-md);
				opacity: 0px;
	
			}
		}
		.cards-container{
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 500px;
			gap: 24px;
			.big-card{
				width:100%;
				height: 441px;
				padding: var(--spacing-6);
				border-radius: var(--radius-lg);
			}
			.cards{
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 500px;
				gap: 24px;
				.card-item{
					width: 100%;
					height: 50px;
					padding: var(--spacing-4) var(--spacing-5) var(--spacing-4) var(--spacing-5);
					gap: var(--spacing-4);
					border-radius: var(--radius-md);
					opacity: 0px;
	
				}
			}
			.map-card{
				width: 100%;
				height: 100%;
				gap: var(--spacing-3);
				border-radius: var(--radius-lg);
			}
		}
		.table-container{
			width: 100%;
			height: 616px;
			padding: var(--spacing-5);
			gap: 16px;
			border-radius: var(--radius-lg);
		}
	
	}
}
@media screen and (max-width:719px) {
	.locker-detail-container{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 1,364px;
		padding: 16px var(--spacing-7) 16px var(--spacing-7);
		gap: var(--spacing-5);
		opacity: 0px;
		.cards-header-container{
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 112px;
			gap: var(--spacing-5);
			.card-item{
				width: 100%;
				height: 100%;
				padding: var(--spacing-4) var(--spacing-5) var(--spacing-4) var(--spacing-5);
				gap: var(--spacing-4);
				border-radius: var(--radius-md);
				opacity: 0px;
			}
		}
		.header-container{
			display: flex;
			width: 100%;
			height: 32px;
			justify-content: space-between;
			.breadcrumb{
				width: 302px;
				height: 100%;
				gap: var(--spacing-2);
				opacity: 0px;
			}
			.notification{
				width: 32px;
				height: 100%;
			}
		}
		.content-switcher-container{
			display: flex;
			flex-direction: row;
			width: 100%;
			height: 36px;
			gap:8px;
			.content-switcher{
				width: 120px;
				height: 36px;
				gap: var(--spacing-1);
				border-radius: var(--radius-md);
				opacity: 0px;
	
			}
		}
		.cards-container{
			display: flex;
			width: 100%;
			height: 441px;
			gap: 24px;
			.big-card{
				width:369px;
				height: 441px;
				padding: var(--spacing-6);
				border-radius: var(--radius-lg);
			}
			.cards{
				display: flex;
				flex-direction: column;
				width: 238px;
				height: 441px;
				gap: 24px;
				.card-item{
					width: 100%;
					height: 100%;
					padding: var(--spacing-4) var(--spacing-5) var(--spacing-4) var(--spacing-5);
					gap: var(--spacing-4);
					border-radius: var(--radius-md);
					opacity: 0px;
	
				}
			}
			.map-card{
				width: 657px;
				height: 100%;
				gap: var(--spacing-3);
				border-radius: var(--radius-lg);
			}
		}
		.table-container{
			width: 100%;
			height: 616px;
			padding: var(--spacing-5);
			gap: 16px;
			border-radius: var(--radius-lg);
		}
	
	}
}