<section class="footer">

  <div class="footer-content">

    <!-- BRAND -->
    <div class="footer-brand-column">

      <div class="footer-brand">

        <img
          src="assets/logos/logotipo.png"
          alt="ConcreaTech"
          class="footer-logo"
        />

      </div>

      <p class="footer-description">
        <span [innerHTML]="'FOOTER.DESCRIPTION' | translate"></span>
      </p>

      <p class="footer-description footer-products">

        <strong>{{ 'FOOTER.PRODUCT_1' | translate }}</strong><br>
        <strong>{{ 'FOOTER.PRODUCT_2' | translate }}</strong>

      </p>

    </div>


    <!-- PRODUCTS -->
    <div>

      <h4 class="footer-title">
        {{ 'FOOTER.PRODUCTS_TITLE' | translate }}
      </h4>

      <ul class="footer-links">

        <li>
          <a href="#">{{ 'FOOTER.PRODUCTS.COS' | translate }}</a>
        </li>

        <li>
          <a href="#">{{ 'FOOTER.PRODUCTS.CAS' | translate }}</a>
        </li>

        <li>
          <a href="#">{{ 'FOOTER.PRODUCTS.INTEGRATION' | translate }}</a>
        </li>

        <li>
          <a href="#">{{ 'FOOTER.PRODUCTS.CASES' | translate }}</a>
        </li>

      </ul>

    </div>


    <!-- RESOURCES -->
    <div>

      <h4 class="footer-title">
        {{ 'FOOTER.RESOURCES_TITLE' | translate }}
      </h4>

      <ul class="footer-links">

        <li>
          <a href="#">{{ 'FOOTER.RESOURCES.DOCS' | translate }}</a>
        </li>

        <li>
          <a href="#">{{ 'FOOTER.RESOURCES.HELP' | translate }}</a>
        </li>

        <li>
          <a href="#">{{ 'FOOTER.RESOURCES.BLOG' | translate }}</a>
        </li>

        <li>
          <a href="#">{{ 'FOOTER.RESOURCES.WEBINARS' | translate }}</a>
        </li>

      </ul>

    </div>


    <!-- COMPANY -->
    <div>

      <h4 class="footer-title">
        {{ 'FOOTER.COMPANY_TITLE' | translate }}
      </h4>

      <ul class="footer-links">

        <li>
          <a href="#">{{ 'FOOTER.COMPANY.ABOUT' | translate }}</a>
        </li>

        <li>
          <a href="#">{{ 'FOOTER.COMPANY.CAREERS' | translate }}</a>
        </li>

        <li>
          <a href="#">{{ 'FOOTER.COMPANY.CONTACT' | translate }}</a>
        </li>

        <li>
          <a href="#">{{ 'FOOTER.COMPANY.PRIVACY' | translate }}</a>
        </li>

      </ul>

    </div>

  </div>


  <!-- FOOTER BOTTOM -->

  <div class="footer-bottom">

    <p>
      © {{year}} ConcreaTech.
      {{ 'FOOTER.RIGHTS' | translate }}
      | {{ 'FOOTER.LOCATION' | translate }}
    </p>

  </div>

</section>