<div class="home-container">
	<section id="inicio" data-section="Inicio">
		<app-hero></app-hero>
	</section>
	<app-stats></app-stats>
	<section id="productos" data-section="Soluciones">
		<app-products></app-products>
	</section>
	<section id="caracteristicas" data-section="Beneficios">
		<app-features></app-features>
	</section>
	<app-testimonials></app-testimonials>
  	<section id="cas" data-section="CAS"> 
		<app-cas-automation></app-cas-automation>
	</section>
	<section id="cos" data-section="COS">
		<app-modules></app-modules>
	</section>
	<section id="precios" data-section="Licencias">
		<app-pricing></app-pricing>
	</section>
	<section id="contacto" data-section="Contacto">
		<app-cta-section></app-cta-section>
	</section>
</div>