@use './animations.scss';

/* ======================================================
   RESET
====================================================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font--primary);
}

body {
  min-height: 100vh;
  display: flex;
  background-color: var(--color-bg-primary);
  color: var(--color-fg-tertiary);
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

::marker {
  color: transparent;
}

/* Scrollbar */

body::-webkit-scrollbar {
  width: 0;
}


/* ======================================================
   HELPERS
====================================================== */

.cursor_pointer { cursor: pointer; }

.none { display: none; }

.display__flex { display: flex; }

.pointer-events__none { pointer-events: none; }

.position__relative { position: relative; }

.white-space { white-space: nowrap; }

.opacity {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.w-100 {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-primary);
}


/* ======================================================
   TYPOGRAPHY
====================================================== */

.font-code {
  font-family: var(--font-code);
}


/* Big Headlines */

.text-bh1 { font-size: var(--font-bh1); line-height: var(--font-lh-bh1); letter-spacing: var(--font-spacing-bh); }
.text-bh2 { font-size: var(--font-bh2); line-height: var(--font-lh-bh2); letter-spacing: var(--font-spacing-bh); }
.text-bh3 { font-size: var(--font-bh3); line-height: var(--font-lh-bh3); letter-spacing: var(--font-spacing-bh); }
.text-bh4 { font-size: var(--font-bh4); line-height: var(--font-lh-bh4); letter-spacing: var(--font-spacing-bh); }
.text-bh5 { font-size: var(--font-bh5); line-height: var(--font-lh-bh5); letter-spacing: var(--font-spacing-bh); }
.text-bh6 { font-size: var(--font-bh6); line-height: var(--font-lh-bh6); letter-spacing: var(--font-spacing-bh); }


/* Headlines */

.text-h1 { font-size: var(--font-h1); line-height: var(--font-lh-h1); letter-spacing: var(--font-spacing-h); }
.text-h2 { font-size: var(--font-h2); line-height: var(--font-lh-h2); letter-spacing: var(--font-spacing-h); }
.text-h3 { font-size: var(--font-h3); line-height: var(--font-lh-h3); letter-spacing: var(--font-spacing-h); }
.text-h4 { font-size: var(--font-h4); line-height: var(--font-lh-h4); letter-spacing: var(--font-spacing-h); }


/* Body */

.text-b1 { font-size: var(--font-b1); line-height: var(--font-lh-b1); letter-spacing: var(--font-spacing-b); }
.text-b2 { font-size: var(--font-b2); line-height: var(--font-lh-b2); letter-spacing: var(--font-spacing-b); }


/* Captions */

.text-c1 { font-size: var(--font-c1); line-height: var(--font-lh-c1); letter-spacing: var(--font-spacing-c); }
.text-c2 { font-size: var(--font-c2); line-height: var(--font-lh-c2); letter-spacing: var(--font-spacing-c); }

.text-label {
  font-size: var(--font-b1);
}


/* ======================================================
   FONT WEIGHTS
====================================================== */

.font-regular { font-weight: 400; }
.font-medium { font-weight: 500; }
.font-semibold { font-weight: 600; }
.font-bold { font-weight: 700; }
.font-extrabold { font-weight: 800; }

.text__decoration--underline {
  text-decoration: underline;
}


/* ======================================================
   COLORS
====================================================== */

.color-fg-primary { color: var(--color-fg-primary); }
.color-fg-secondary { color: var(--color-fg-secondary); }
.color-fg-tertiary { color: var(--color-fg-tertiary); }
.color-fg-quaternary { color: var(--color-fg-quaternary); }

.color-fg-brand { color: var(--color-fg-brand); }
.color-fg-danger { color: var(--color-fg-danger); }

.color-fg-link { color: var(--color-fg-link); }

.color-fg-disabled { color: var(--color-fg-disabled); }


.color-link {
  color: var(--color-fg-link);
  cursor: pointer;
}

.color-link:hover {
  text-decoration: underline;
  color: var(--color-btn-link-hover);
  text-underline-offset: 0.25rem;
}

.color-link:active {
  color: var(--color-btn-link-active);
}


/* ======================================================
   BUTTONS
====================================================== */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;

  padding: 0.6875rem var(--spacing-4);

  font-size: var(--font-b1);

  border-radius: var(--radius-md);

  cursor: pointer;

  font-weight: 500;
}

.btn img {
  width: var(--size-icon-xs);
}


/* Primary */

.btn--primary {
  background-color: var(--color-btn-primary-enabled);
  color: var(--color-fg-primary-inverted);
}

.btn--primary:hover {
  background-color: var(--color-btn-primary-hover);
}

.btn--primary:active {
  background-color: var(--color-btn-primary-active);
}

.btn--primary__disabled {
  pointer-events: none;
  background-color: var(--color-bg-disabled);
  color: var(--color-fg-disabled);
}


/* Secondary */

.btn--secondary {
  background-color: var(--color-bg-primary);
  color: var(--color-fg-secondary);
  border: 1px solid var(--color-border-enabled);
}

.btn--secondary:hover {
  border-color: var(--color-border-hover);
  background-color: var(--color-btn-secondary-hover);
}

.btn--secondary:active {
  background-color: var(--color-btn-secondary-active);
}

.btn--secondary__disabled {
  pointer-events: none;
  background-color: var(--color-bg-disabled);
  border-color: var(--color-border-disabled);
  color: var(--color-fg-disabled);
}


/* Tertiary */

.btn--tertiary {
  background: transparent;
  color: var(--color-fg-brand);
}

.btn--tertiary:hover {
  background-color: var(--color-btn-secondary-hover);
}

.btn--tertiary:active {
  background-color: var(--color-btn-secondary-active);
}


/* ======================================================
   ICONS
====================================================== */

.icon-xs { width: var(--size-icon-xs); height: var(--size-icon-xs); }
.icon-sm { width: var(--size-icon-sm); height: var(--size-icon-sm); }
.icon-md { width: var(--size-icon-md); height: var(--size-icon-md); }
.icon-lg { width: var(--size-icon-lg); height: var(--size-icon-lg); }


/* ======================================================
   SKELETON
====================================================== */

.skeleton__fade {
  background: linear-gradient(
    45deg,
    var(--silver-300),
    #e5e5e5,
    var(--silver-400)
  );

  background-size: 400%;
  animation: skeletonFadeIn 2s ease-in-out infinite;

  border-radius: var(--radius-md);
}

@keyframes skeletonFadeIn {

  0% { background-position: 100%; }

  50% { background-position: 0%; }

  100% { background-position: 100%; }

}


/* ======================================================
   SPACING
====================================================== */

.mb-1 { margin-bottom: var(--spacing-1); }
.mb-2 { margin-bottom: var(--spacing-2); }
.mb-3 { margin-bottom: var(--spacing-3); }
.mb-4 { margin-bottom: var(--spacing-4); }
.mb-5 { margin-bottom: var(--spacing-5); }
.mb-6 { margin-bottom: var(--spacing-6); }
.mb-7 { margin-bottom: var(--spacing-7); }
.mb-8 { margin-bottom: var(--spacing-8); }


.background-primary {
  background-color: var(--color-bg-primary);
}


/* ======================================================
   RESPONSIVE
====================================================== */

@media screen and (min-height: 900px) {
  html {
    font-size: 12px;
  }
}